<div class="flex flex-col h-full">
    <div class="sticky top-0 left-0 w-full h-16">
        <div class="flex h-full w-full bg-tossup-900 px-4 items-center">
            <div class="h-8 w-8 rounded bg-tossup-400 flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-box text-white">
                    <path
                        d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                    </path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                </svg>
            </div>
            <a routerLink="/draws" routerLinkActive="text-white" class="pl-6 text-tossup-200 hover:text-white">Draws</a>
            <a routerLink="/customers" routerLinkActive="text-white" class="pl-6 text-tossup-200 hover:text-white">Customers</a>
            <a routerLink="/tickets" routerLinkActive="text-white" class="pl-6 text-tossup-200 hover:text-white">Tickets</a>
            <a routerLink="/payments" routerLinkActive="text-white" class="pl-6 text-tossup-200 hover:text-white">Payments</a>
            <!-- <a routerLink="/points" routerLinkActive="text-white" class="pl-6 text-tossup-200 hover:text-white">Points</a> -->
            <a routerLink="/settings" routerLinkActive="text-white" class="pl-6 text-tossup-200 hover:text-white">Settings</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>